@font-face {
    font-family: 'Anderson Four Feather Falls';
    src: url('Anderson Four Feather Falls.ttf') format('truetype');
}

#confetti {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('game.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}   

#button {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -125%);
    border: 0.5vw solid #bb0c0c;
    border-radius: 50%;
    font-family: 'Anderson Four Feather Falls', sans-serif;
    font-size: 1.8vw;
    color: #bb0c0c;
    
    /* Achtergrond als sneeuwbal: wit met een subtiele blauwe gloed */
    background: radial-gradient(circle at 30% 30%, #ffffff, #d9f0f7 80%);
    
    /* Zachte schaduwen voor diepte */
    box-shadow: 
        0 0 2vw rgba(0, 0, 0, 0.5),         /* externe schaduw om 3D effect te geven */
        inset 0 0.5vw 1vw rgba(255, 255, 255, 0.8), /* lichte glans aan de bovenkant */
        inset 0 -0.5vw 1vw #bb0c0c; /* subtiele schaduw onderin voor ronde vorm */

    /* Animatie transities bij indrukken */
    transition: box-shadow 0.2s, transform 0.2s;
}

#button:active {
    box-shadow: 
        0 0.5vw 1vw rgba(0, 0, 0, 0.3),
        inset 0 0.5vw 1vw rgba(255, 255, 255, 0.5),
        inset 0 -0.5vw 1vw rgba(173, 216, 230, 0.5);
    transform: translate(-50%, -120%) scale(0.98);
}

#textBox {
    position: fixed;
    top: 52%;
    left: 50%;
    min-width: 15vw;
    min-height: 7vw;
    font-size: 4vw;
    transform: translateX(-50%);
    font-family: 'Anderson Four Feather Falls', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #bb0c0c;
    border: 0.45vw solid #bb0c0c;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@keyframes blink {
    0%, 100% { color: transparent; }
    50% { color: gold; }
}

.final-name {
    animation: blink 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -125%) rotate(0deg); 
    }
    25% {
        transform: translate(-90%, -100%) rotate(180deg); 
    }
    50% {
        transform: translate(-20%, -100%) rotate(360deg); 
    }
    100% {
        transform: translate(-50%, -125%) rotate(720deg); 
    }
}

.rotate {
    animation: rotate calc(var(--animation-duration) / var(--animation-divisor)) linear infinite;
    transform-origin: center center;
}
